@import url("https://fonts.googleapis.com/css2?family=Grape+Nuts&display=swap");
.navbar-light .navbar-toggler {
  background-color: #297d93;
}

* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100%;
  background-image: url(../imagenes/img-fondohumo.jpg) !important;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

img {
  overflow: hidden;
}

h2 {
  width: 60%;
  color: white;
  font-family: "Koulen", cursive;
  font-size: 35px;
  text-align: center;
  font-style: "Koulen", cursive;
  text-decoration: underline;
  padding: 10px 60px 10px 60px;
  margin: 0 auto;
  margin-bottom: 70px;
  border-radius: 5px;
}

h3 {
  color: white;
  font-size: 30px;
  font-family: "Koulen", cursive;
  text-align: center;
  margin: 0 20px 0px 20px;
  padding: 10px 10px 10px 10px;
  background-image: white;
}

h4 {
  display: inline-block;
  color: white;
  font-size: 30px;
  text-align: center;
  font-family: "Koulen", cursive;
  margin: 0 200px 0px 200px;
  padding: 10px 10px 10px 10px;
  border-radius: 5px;
}

p {
  font-family: "Koulen", cursive;
  text-align: center;
  font-size: 20px;
  font-style: "Koulen", cursive;
  color: white;
  margin: 20px 20px 20px 20px;
}

ul > li, ul > ol {
  list-style-type: none;
  text-align: center;
}

.video-home {
  width: 100%;
  height: 50%;
  overflow: hidden;
}

.video__home {
  width: 100%;
}

.header {
  width: 100%;
  height: 250px;
  margin: 0 auto;
  background-image: url(../imagenes/imagenfondo.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.titheader {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-content: stretch;
  justify-content: center;
  margin: 0 20px;
}

.tit__header {
  width: 80%;
  display: block;
  font-family: 'Koulen', cursive;
  font-size: 65px;
  text-align: center;
  margin: auto;
  color: white;
}

a {
  color: white !important;
}

.tit__header2 {
  width: 100%;
  font-family: 'Koulen', cursive;
}

.titiheader {
  display: none;
}

.header__logo {
  display: none;
}

.logo {
  display: none;
}

.imgmenu {
  display: none;
}

a:link {
  text-decoration: none;
}

.nav {
  font-style: normal;
  font-size: 24px;
  align-self: center;
}

.navjustify-content-end {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  list-style-type: none;
}

.nav-link {
  font-size: 30px;
  border-radius: 5px;
}

#cerrarhamburg {
  display: none;
}

.bg-light {
  background-color: none;
  --bs-bg-opacity: none
;
}

.navbar-light .navbar-brand {
  display: none;
}

.navbar {
  font-size: 25px;
  font-weight: 500;
}

.navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .show > .nav-link {
  color: white;
  font-family: "Koulen", cursive;
  font-size: 32px;
}

.navbar-light .navbar-nav .nav-link {
  color: white;
  font-family: "Koulen", cursive;
  font-size: 32px;
}

.navbar-nav {
  position: sticky;
}

#cerrar {
  display: none;
}

.sectionhome {
  margin-bottom: 70px;
}

.imgindex {
  transition: none;
  transform: none;
}

img {
  transition: none;
  width: 100%;
  height: max-content;
  border-radius: 20px;
}

.imgindex:hover {
  transform: none;
}

.pindex {
  text-align: -webkit-left;
}

.row {
  align-items: center;
}

.divservicios {
  margin-bottom: 70px;
}

.outdoor {
  width: 40%;
  text-align: center;
  text-decoration: underline;
  font-family: "Koulen", cursive;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.servicio__inout {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin: 40px 40px 40px 40px;
  list-style-type: none;
}

.servicios__indoor {
  width: 50%;
  margin: 10px 0 10px 0;
  align-self: flex-start;
}

.servicio__divlistin {
  margin: 10px 20px 10px 20px;
  text-align: center;
  font-family: "Koulen", cursive;
  color: white;
  font-size: 20px;
  align-self: center;
  list-style-type: none;
}

.servicios__outdoor {
  width: 50%;
  margin: 10px 0 10px 0;
  align-self: flex-start;
}

.servicio__divlistou {
  margin: 10px 20px 10px 20px;
  text-align: center;
  color: white;
  font-size: 20px;
  font-family: "Koulen", cursive;
  align-self: center;
  list-style-type: none;
}

.pserv {
  width: 50%;
  text-align: center;
  margin: 0 auto;
}

ol, ul {
  padding-left: 0rem;
}

ul > li {
  color: white;
}

.card-gral {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border-radius: 30px;
  gap: 100px;
}

.card {
  background-color: rgba(61, 233, 227, 0.7);
  border-bottom-right-radius: 80px;
  border-top-left-radius: 80px;
  padding-top: 62px;
}

.card-text {
  text-decoration: underline;
  font-size: 30px;
}

.imgcard {
  border-bottom-left-radius: 80px;
}

.card-body {
  align-self: center;
}

.carousel {
  width: 50%;
  margin: 0 auto;
  margin-top: 45px;
  padding: 20px 20px;
}

.carousel-inner {
  border-radius: 30px;
  width: 100%;
  overflow: hidden;
}

.carousel-item > img {
  max-height: 345px;
  object-fit: cover;
}

.carrouselgral {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

iframe {
  border-radius: 20px;
}

.caja-texto {
  width: 30%;
  text-align: justify;
  background-color: rgba(116, 116, 116, 0.5);
  border-radius: 5px;
}

.sectionfotos {
  margin-top: 70px;
  margin-bottom: 70px;
}

.section__pedido {
  width: 50%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.terminosycond {
  color: #d2eaff;
  font-size: 20px;
  font-family: "Koulen", cursive;
}

.pedido__nombre {
  align-self: center;
  margin: 5px 0 5px 0;
  display: block;
}

.pedido__apellido {
  align-self: center;
  margin: 5px 0 5px 0;
  display: block;
}

.pedido__dni {
  align-self: center;
  margin: 5px 0 5px 0;
  display: block;
}

.pedido__fechanac {
  align-self: center;
  margin: 5px 0 5px 0;
  display: block;
}

.pedido__email {
  align-self: center;
  margin: 5px 0 5px 0;
  display: block;
}

.pedido__ok {
  align-self: center;
  margin: 5px 0 5px 0;
  display: block;
}

.btn-primary {
  background-image: linear-gradient(to left, #8888f1, white);
  color: black;
  font-size: 20px;
  font-weight: 600;
  opacity: 0.8;
}

.div__contacto {
  width: 50%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

textarea {
  height: 130px;
}

.sectionpedido {
  margin-bottom: 70px;
}

.sectioncontacto {
  margin-bottom: 70px;
}

footer {
  width: 100%;
  height: 700px;
}

.footer {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-top: 10px;
  padding-bottom: 10px;
}

.iframe__mapa {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  height: 28%;
  align-self: center;
}

.iframe {
  align-self: center;
}

.iframevideo {
  display: block;
  width: 100%;
}

.p-footer {
  align-self: center;
}

.p__footer {
  height: 67px;
}

.h2footer {
  margin-bottom: 10px;
}

.link__facebook {
  width: 20%;
  height: 110px;
  align-self: center;
}

.link__instagram {
  width: 20%;
  height: 110px;
  align-self: center;
}

.link__whatsapp {
  width: auto;
  position: fixed;
  bottom: 3%;
  right: 15px;
}

.qr__contacto {
  width: 20%;
  height: 110px;
  align-self: center;
}

.qr__directo {
  margin: 0%;
  padding: 0%;
  text-align: center;
}

.padding {
  overflow: hidden;
  width: 80px;
  height: 80px;
  transition: 3s;
  transform: all;
}

img {
  transition: 0.1s;
  width: 100%;
  height: max-content;
  border-radius: 20px;
}

.pfooter {
  margin: 0 auto;
}

.containerfooter {
  display: flex;
  flex-direction: column;
}

.row {
  flex-direction: row;
  flex-wrap: nowrap;
}

.col-12 {
  flex: 0 0 auto;
  width: 50%;
}

@media screen and (max-width: 1023px !important) {
  body {
    margin: 0%;
    width: 110%;
    height: max-content;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .header {
    height: 200px;
    display: flex;
    flex-wrap: wrap;
  }
  .navbar-expand-lg {
    flex-wrap: none;
    justify-content: flex-start;
  }
  .navbar {
    width: 100%;
    font-size: 25px;
    font-style: italic;
    font-weight: 500;
    position: relative;
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    flex-direction: column;
    align-content: flex-start;
  }
  .nav-link {
    color: white;
    background-color: #528ba5;
    opacity: 1;
  }
  .bg-light {
    --bs-bg-opacity: none;
    align-self: center;
  }
  .container-fluid {
    z-index: 100;
    overflow: hidden;
    width: 50%;
  }
  .bg-light {
    --bs-bg-opacity: none;
  }
  p {
    margin: 0 20px 0 20px;
  }
  .card-gral {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    border-radius: 30px;
    gap: 50px;
    margin: 34px;
  }
  .imgcard {
    border-bottom-left-radius: 80px;
  }
  .card {
    background-color: #324040;
    height: 650px;
    border-bottom-right-radius: 80px;
  }
  .footer {
    width: 80%;
    height: 100px;
    margin: 0    auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .iframe__mapa {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 670px;
    height: 100px;
    margin: auto;
  }
  .iframe {
    width: 353px;
    height: 81px;
    margin: 0 auto;
    overflow: hidden;
  }
  .link__facebook {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    align-self: center;
  }
  .link__instagram {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    align-self: center;
  }
  .link__whatsapp {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    align-self: center;
    position: none !important;
  }
  .link__whatsapp {
    position: none;
  }
  .qr__contacto {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    margin-left: 30px;
    align-self: center;
  }
  .qr__directo {
    height: 10%;
    padding: 0%;
    margin: auto;
    text-align: center;
    display: inline;
  }
  .padding {
    overflow: hidden;
    width: 60px;
    height: 60px;
  }
}

@media screen and (max-width: 600px) {
  body {
    width: 100%;
    height: max-content;
    margin: 0 auto;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
  header {
    position: sticky;
    top: 1px;
  }
  .header {
    height: 130px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-image: url(../imagenes/imagenfondo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-bottom: 20px;
    z-index: 100;
  }
  .header__logo {
    display: none;
  }
  .header__open {
    display: none;
  }
  .titheader {
    display: none;
  }
  .logo {
    display: block;
  }
  #lateral {
    width: 30%;
    height: 100vh;
    display: block;
    background-color: #2c5a9e;
    position: fixed;
    top: 0%;
    left: 100%;
    transition: right 1s;
    z-index: 100;
  }
  #lateral:target {
    left: 0;
  }
  nav {
    display: none;
    font-style: italic;
  }
  .nav-link {
    color: white;
    background-color: #297d93;
    border-radius: 20px;
    font-family: sans-serif !important;
  }
  .navbar {
    width: 60%;
    font-size: 25px;
    font-style: italic;
    font-weight: 500;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
  .nav__lista {
    flex-direction: column;
  }
  .nav__enlace {
    font-size: 16px;
  }
  .nav__enlaceC {
    display: block;
    align-self: center;
  }
  .navbar-light .navbar-toggler {
    background-color: #297d93;
  }
  .navbar-toggler {
    font-size: 0.80rem;
  }
  .navbar > .container-fluid {
    width: 400px;
    margin: 0;
    font-style: normal;
  }
  #cerrarhamburg {
    display: block;
  }
  .container {
    margin-bottom: 20px;
    margin-top: 20px;
  }
  .mobile {
    display: block;
    text-align: center;
    margin: none;
  }
  .video-home {
    display: none;
  }
  h1 {
    display: block;
    text-align: center;
    font-size: 12px;
  }
  h2 {
    width: 50%;
    display: block;
    margin: 0 auto;
    margin-bottom: 30px;
    margin-top: 24px;
    padding: 20px 20px 20px 20px;
    text-align: center;
    font-size: 30px;
    font-family: sans-serif;
  }
  h3 {
    margin: 0 auto;
    font-size: 18px;
  }
  h4 {
    width: 100%;
    display: inline-block;
    margin: 0 auto;
    text-align: center;
    font-size: 12px;
  }
  p {
    color: white;
    font-family: sans-serif;
    font-size: 25px;
    text-align: center;
    margin: 20px 20px 20px 20px;
  }
  .titiheader {
    font-size: 29px;
    width: 50%;
    display: inline-block;
    margin: 0 auto;
    padding-top: 35px;
  }
  .col-12 {
    width: 80%;
  }
  .servicio__inout {
    width: 80%;
    display: flex;
    margin: 0 auto;
    justify-content: space-evenly;
    flex-wrap: wrap;
    list-style-type: none;
    flex-direction: column;
  }
  .servicios__indoor {
    align-self: center;
    margin: 0 auto;
  }
  .outdoor {
    font-size: 25px;
    width: 50%;
    font-family: sans-serif;
  }
  .servicios__outdoor {
    align-self: center;
    font-family: sans-serif;
  }
  .servicio__divlistin {
    font-family: sans-serif;
  }
  .servicio__divlistou {
    font-family: sans-serif;
  }
  ol, ul {
    padding-left: 0rem;
  }
  .grid {
    display: block;
    margin: auto;
  }
  .card-gral {
    display: flex;
    justify-content: space-between;
    border-radius: 30px;
    gap: 100px;
    align-content: center;
    flex-direction: column-reverse;
    flex-wrap: wrap;
  }
  .imgcard {
    border-bottom-left-radius: 80px;
  }
  .card {
    background-color: rgba(61, 233, 227, 0.7);
    height: 650px;
    border-bottom-right-radius: 80px;
  }
  .carrouselgral {
    display: flex;
    flex-direction: column;
  }
  .carousel {
    width: 100%;
  }
  #gradient div {
    overflow: hidden;
  }
  div img {
    margin: auto;
  }
  .section__pedido {
    margin-bottom: 20px;
    margin-top: 20px;
  }
  .terminosycond {
    color: #d2eaff;
    font-size: 20px;
    font-family: "Koulen", cursive;
    text-align: center;
  }
  .btn-primary {
    font-family: "Koulen", cursive;
    color: white;
  }
  footer {
    height: 100%;
  }
  .footer {
    width: 90%;
    height: 20%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  .iframe__mapa {
    width: 72%;
    height: 100px;
    margin: 0 auto;
  }
  .iframe {
    width: 397px;
    height: 100px;
    margin: 0 auto;
    overflow: hidden;
  }
  .redes-sociales {
    align-self: center;
    margin-top: 30px;
  }
  .link__facebook {
    width: 10%;
    height: 10%;
    margin-bottom: 20px;
  }
  .link__instagram {
    width: 10%;
    height: 10%;
    margin-bottom: 20px;
  }
  .link__whatsapp {
    width: 10%;
    height: 10%;
    margin-bottom: 20px;
    position: unset;
  }
  .qr__contacto {
    width: 13%;
    height: 10%;
    margin-bottom: 20px;
  }
  .qr__directo {
    display: none;
  }
  .pfooter {
    margin: 0 auto;
    margin-top: 20px;
  }
  .padding {
    overflow: hidden;
    width: 40px;
    height: 40px;
  }
  .carousel-item {
    width: 100%;
  }
  .row {
    flex-direction: column;
  }
}
/*# sourceMappingURL=style.css.map */