footer {
    width: 100%;
    height: 400px;
}

.footer{
    width: 80%;
    margin: 0 auto;
    margin-bottom: 40px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    padding-top: 10px;
    padding-bottom: 10px;
} 

.iframe__mapa{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: 28%;
    align-self: center;
}

.iframe{
    align-self: center;
}

.iframevideo{
    display: block;
    width: 100%;
}

.link__facebook{
    width: 20%;
    height: 60%;
    align-self: center;

}

.link__instagram{
    width: 20%;
    height: 60%;
    align-self: center;

}

.link__whatsapp{
    width: auto;
    position: fixed;
    bottom: 3%;
    right: 3%;
}

.qr__contacto{
    width: 20%;
    height: 60%;
    align-self: center;
    
}

.qr__directo{
    margin: 0%;
    padding: 0%;
    text-align: center;
}

.padding{
    overflow: hidden;
    width: 80px;
    height: 80px;
    transition: 3s;
    transform: all;
}

img{
    transition: 0.1s;
    width: 100%;
    height: max-content;
    border-radius: 20px;
    opacity: 0.8;
}

img:hover{
    transform: scale(1.2);
}

.pfooter{
    margin: 0 auto;
}

.containerfooter{
    display: flex;
    flex-direction: column;
}

.row {
    flex-direction: row;
    flex-wrap: nowrap;
}

.col-12 {
    flex: 0 0 auto;
    width: 50%;
}