ul > li{
    color: wheat;
}

.card-gral{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border-radius: 30px;
    gap: 100px;
}

.card{
    background-color: rgba(61, 233, 227, 0.7);;
    border-bottom-right-radius: 80px;
    border-top-left-radius: 80px;
    padding-top: 62px;
}

.card-text{
    text-decoration: underline;
    font-size: 30px ;
}


.imgcard{
    border-bottom-left-radius: 80px
}

.carousel{
    width: 100%;
    margin: 0 auto;
    margin-top: 45px;
    padding: 20px 20px;
}

.carousel-inner{
    border-radius: 30px;
}

.carousel-item>img{
    max-height: 345px;
    object-fit: cover;
    }

.carrouselgral{
    display: flex;
    flex-direction: row;
}

iframe {
    border-radius: 20px;
    }    
    
.caja-texto{
    width:30%;
    text-align: justify;
    background-color: rgba(116, 116, 116, .5);
    border-radius: 5px;
    
}

.sectionfotos{
    margin-top: 70px;
    margin-bottom: 70px;
}