@media screen and (max-width: 1023px){
    
    body {
        margin: 0%;
        width: 110%;
        height: max-content;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }   
    
    .header{
        height: 200px;
        display: flex;
        flex-wrap: wrap;
    }

    .navbar-expand-lg {
        flex-wrap: none;
        justify-content: flex-start;
    }

    .navbar {
        width: 100%;
        font-size: 25px;
        font-style: italic;
        font-weight: 500;
        position: relative;
        display: flex;
        align-items: stretch;
        justify-content: space-between;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        flex-direction: column;
        align-content: flex-start;
    }

    .nav-link{
        color: $color-titulos;
        background-color: #517687;
        opacity: 1;
    }

    .bg-light {
        --bs-bg-opacity: none;
        align-self: center;
    }
    
    .container-fluid{
        z-index: 100;
        overflow: hidden;
        width: 50%;
    }

    .bg-light {
        --bs-bg-opacity: none;
    }
    

    p{
        margin: 0 20px 0 20px;
    }

    .footer{
        width: 80%;
        height: 100px;
        margin: 0    auto;
        display: flex;
        flex-direction: row;
        justify-content: center;
    } 

    .iframe__mapa{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 670px;
        height: 100px;
        margin: auto;
    }

    .iframe{
        width: 353px;
        height: 81px;
        margin: 0 auto;
        overflow: hidden;
    }
    
    .link__facebook{
        width: 100%;
        height: 100%;
        margin: 0 auto;
        align-self: center;
        
    }
    
    .link__instagram{
        width: 100%;
        height: 100%;
        margin: 0 auto;
        align-self: center;

    }
    
    .link__whatsapp{
        width: 100%;
        height: 100%;
        margin: 0 auto;
        align-self: center;
        position: unset;
    }
    
    .qr__contacto{
        width: 100%;
        height: 100%;
        margin: 0 auto;
        margin-left: 30px;
        align-self: center;
    }
    
    .qr__directo{
        height: 10%;
        padding: 0%;
        margin: auto;
        text-align: center;
        display: inline;
        
    }
    .padding{
        overflow: hidden;
        width: 60px;
        height: 60px;
    }
    
    
}
@media screen and (max-width: 600px) {
        
    body{
        width: 100%;
        height: max-content;
        margin: 0 auto;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        }
    
    header{
        position: sticky;
        top: 1px;
    }    

    .header{
        height: 123px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background-image: url(../imagenes/imagenfondo.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        margin-bottom: 20px;
        z-index: 100;
        
    }
    
    .header__logo{
        display: none;

    }

    .header__open{
        display: none;
    }

    .logo{
        display: block;
    }

    #lateral{
        width: 30%;
        height: 100vh;
        display: block;
        background-color: rgb(44, 90, 158);
        position: fixed;
        top: 0%;
        left: 100%;
        transition: right 1s ;
        z-index: 100;
    }

    #lateral:target{
        left: 0;
    }

    nav{
        display: none;
        font-style: italic;
    }
    
    .nav-link{
        color:$color-titulos;
        background-color: transparent;        
    }


    .header__marca{
        display: none;
    }
    
    .header__logo{
        display: none;
    }
    
    .navbar{
        width: 100%;
        font-size: 25px;
        font-style: italic;
        font-weight: 500;
        position: relative;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem  
    }

    .nav__lista{
        flex-direction: column;
    }

    .nav__enlace{
        font-size: 16px;
    }

    .nav__enlaceC{
        display: block;
        align-self: center;
    }

    #cerrarhamburg{
        display: block;
    }

    .container{
        margin-bottom: 20px;
        margin-top: 20px;
    }

    .mobile{
        display: block;
        text-align: center;
        margin: none;
    }

    h1{
        display: block;
        text-align: center;
        font-size: 12px;
    }

    h2{
        width: 50%;
        display: block ;
        margin: 0 auto;
        margin-bottom: 20px;
        margin-top: 24px;
        padding: 20px 20px 20px 20px;
        text-align: center;
        font-size: 26px;    
    }

    h3{
        margin: 0 auto;
        font-size: 18px;
    }
    
    h4 {
        width: 100%;
        display: inline-block;
        margin: 0 auto;
        text-align: center;
        font-size: 12px;
    }
    p{
        font-size: 16px;
        text-align: center;
        margin: 20px 20px 20px 20px;
    }



    .servicio__inout{
        display: flex;
        flex-direction: column;
        justify-content: center;
    
    }
    .servicios__indoor{
        align-self: center;
    }
    
    .servicios__outdoor{
        align-self: center;
    }

    ol, ul {
        padding-left: 0rem;
    }

    .grid{
        display: block;
        margin: auto;
    }

    #gradient div{
        overflow: hidden;
    }

    div img{
        margin: auto;
    }
    
    .section__pedido{
        margin-bottom: 20px;
        margin-top: 20px;
    }
    
    footer{
        height: 400px;
    }

    .footer{
        width: 90%;
        height: 20%;
        margin: 0  auto;
        display: flex;
        flex-direction: row;
        justify-content: space-around;

    } 

    .iframe__mapa{
    width: 40%;
    height: 100px;
    margin: 0 auto;
    }

    .iframe{
        width: 353px;
        height: 81px;
        margin: 0 auto;
        overflow: hidden;

    }
    
    .link__facebook{
        width: 10%;
        height: 10%;
        margin: 0 auto;
        align-self: flex-start;
    }
    
    .link__instagram{
        width: 10%;
        height: 10%;
        margin: 0 auto;
        align-self: flex-start;

    }
    
    .link__whatsapp{
        width: 10%;
        height: 10%;
        margin: 0 auto;
        align-self: flex-start;
        position: unset;
    }
    
    .qr__contacto{
        width: 13%;
        height: 10%;
        margin: 0 auto;
        margin-left: 30px;
        align-self: flex-start;
    }
    
    .qr__directo{
        display: none;
        
    }

    .pfooter {
        margin: 0 auto;
        margin-top: 20px;
    }

    .padding{
        overflow: hidden;
        width: 40px;
        height: 40px;
    }
    
    .carousel-item{
        width: 100%;
    }

    .row {
        flex-direction: column;}

}