@media screen and (max-width: !important 1023px)  {
    // agregue !important para anular una MQ de Boostrap en 992px
    
    body {
        margin: 0%;
        width: 110%;
        height: max-content;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }   
    
    .header{
        height: 200px;
        display: flex;
        flex-wrap: wrap;
    }

    .navbar-expand-lg {
        flex-wrap: none;
        justify-content: flex-start;
    }

    .navbar {
        width: 100%;
        font-size: 25px;
        font-style: italic;
        font-weight: 500;
        position: relative;
        display: flex;
        align-items: stretch;
        justify-content: space-between;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        flex-direction: column;
        align-content: flex-start;
    }

    .nav-link{
        color: $color-titulos;
        background-color: #517687;
        opacity: 1;
    }

    .bg-light {
        --bs-bg-opacity: none;
        align-self: center;
    }
    
    .container-fluid{
        z-index: 100;
        overflow: hidden;
        width: 50%;
    }

    .bg-light {
        --bs-bg-opacity: none;
    }
    

    p{
        margin: 0 20px 0 20px;
    }

    .card-gral {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-around;
        border-radius: 30px;
        flex-wrap: wrap;
    }

    .imgcard{
        border-bottom-left-radius: 80px;
    }

    .card{
        background-color: #324040;
        height: 650px;
        border-bottom-right-radius: 80px;
    }

    .footer{
        width: 80%;
        height: 100px;
        margin: 0    auto;
        display: flex;
        flex-direction: row;
        justify-content: center;
    } 

    .iframe__mapa{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 670px;
        height: 100px;
        margin: auto;
    }

    .iframe{
        width: 353px;
        height: 81px;
        margin: 0 auto;
        overflow: hidden;
    }
    
    .link__facebook{
        width: 100%;
        height: 100%;
        margin: 0 auto;
        align-self: center;
        
    }
    
    .link__instagram{
        width: 100%;
        height: 100%;
        margin: 0 auto;
        align-self: center;

    }
    
    .link__whatsapp{
        width: 100%;
        height: 100%;
        margin: 0 auto;
        align-self: center;
        position: unset;
    }
    
    .qr__contacto{
        width: 100%;
        height: 100%;
        margin: 0 auto;
        margin-left: 30px;
        align-self: center;
    }
    
    .qr__directo{
        height: 10%;
        padding: 0%;
        margin: auto;
        text-align: center;
        display: inline;
        
    }
    .padding{
        overflow: hidden;
        width: 60px;
        height: 60px;
    }
    
    
}
@media screen and (max-width: 600px) {
        
    body{
        width: 100%;
        height: max-content;
        margin: 0 auto;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        }
    
    header{
        position: sticky;
        top: 1px;
    }    

    .header{
        height: 130px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background-image: url(../imagenes/imagenfondo.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        margin-bottom: 20px;
        z-index: 100;
        
    }
    
    .header__logo{
        display: none;

    }

    .header__open{
        display: none;
    }

    .titheader{
        
        display: none;
        
    }

    .logo{
        display: block;
    }

    #lateral{
        width: 30%;
        height: 100vh;
        display: block;
        background-color: rgb(44, 90, 158);
        position: fixed;
        top: 0%;
        left: 100%;
        transition: right 1s ;
        z-index: 100;
    }

    #lateral:target{
        left: 0;
    }

    nav{
        display: none;
        font-style: italic;
    }
    
    .nav-link{
        color:white;
        background-color: #9dcedb;
        border-radius: 20px;        
    }
    
    .navbar{
        width: 100%;
        font-size: 25px;
        font-style: italic;
        font-weight: 500;
        position: relative;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem  
    }

    .nav__lista{
        flex-direction: column;
    }

    .nav__enlace{
        font-size: 16px;
    }

    .nav__enlaceC{
        display: block;
        align-self: center;
    }

    .navbar-light .navbar-toggler{
        background-color: #ddf8ff;
    }

    .navbar > .container-fluid {
        width: 400px;
        margin: 0;
        font-style: normal;
    }

    #cerrarhamburg{
        display: block;
    }

    .container{
        margin-bottom: 20px;
        margin-top: 20px;
    }

    .mobile{
        display: block;
        text-align: center;
        margin: none;
    }


    
    h1{
        display: block;
        text-align: center;
        font-size: 12px;
    }

    h2{
        width: 50%;
        display: block ;
        margin: 0 auto;
        margin-bottom: 20px;
        margin-top: 24px;
        padding: 20px 20px 20px 20px;
        text-align: center;
        font-size: 26px;    
    }

    h3{
        margin: 0 auto;
        font-size: 18px;
    }
    
    h4 {
        width: 100%;
        display: inline-block;
        margin: 0 auto;
        text-align: center;
        font-size: 12px;
    }
    p{
        color: $color-titulos;
        font-family: $fuente-gral;
        font-size: 20px;
        text-align: center;
        margin: 20px 20px 20px 20px;
    }

    .titiheader{
        font-size: 29px;
        width: 50%;
        display: inline-block;
        margin: 0 auto;
        padding-top: 35px;
    }

    .col-12{
        width: 80%;
    }
    

    .servicio__inout {
        width:80%;
        display: flex;
        margin: 0 auto;
        justify-content: space-evenly;
        flex-wrap: wrap;
        list-style-type: none;
        flex-direction: column;
    }

    .servicios__indoor{
        align-self: center;
        margin: 0 auto;
    }

    .outdoor{
        font-size: 25px;
        width: 50%;
    }
    
    .servicios__outdoor{
        align-self: center;
    }

    ol, ul {
        padding-left: 0rem;
    }

    .grid{
        display: block;
        margin: auto;
    }

    .card-gral{
        display: flex;
        justify-content: space-between;
        border-radius: 30px;
        gap: 100px;
        align-content: center;
        flex-direction: column-reverse;
        flex-wrap: wrap;
    }

    .imgcard{
        border-bottom-left-radius: 80px;
    }

    .card{
        background-color: #46bfbc;
        height: 650px;
        border-bottom-right-radius: 80px;
    }

    .carrouselgral{
        display: flex;
        flex-direction: column;
    }

    #gradient div{
        overflow: hidden;
    }

    div img{
        margin: auto;
    }
    
    .section__pedido{
        margin-bottom: 20px;
        margin-top: 20px;
    }

    .terminosycond{
        color: #d2eaff;
        font-size: 20px;
        font-family: "Koulen", cursive;
        text-align: center;
    }
    
    .btn-primary{
        font-family: $fuente-gral;
        color: $color-titulos;
    }

    footer{
        height: 400px;
    }

    .footer{
        width: 90%;
        height: 20%;
        margin: 0  auto;
        display: flex;
        flex-direction: row;
        justify-content: space-around;

    } 

    .iframe__mapa{
    width: 40%;
    height: 100px;
    margin: 0 auto;
    }

    .iframe{
        width: 353px;
        height: 81px;
        margin: 0 auto;
        overflow: hidden;

    }
    
    .link__facebook{
        width: 10%;
        height: 10%;
        margin: 0 auto;
        align-self: flex-start;
    }
    
    .link__instagram{
        width: 10%;
        height: 10%;
        margin: 0 auto;
        align-self: flex-start;

    }
    
    .link__whatsapp{
        width: 10%;
        height: 10%;
        margin: 0 auto;
        align-self: flex-start;
        position: unset;
    }
    
    .qr__contacto{
        width: 13%;
        height: 10%;
        margin: 0 auto;
        margin-left: 30px;
        align-self: flex-start;
    }
    
    .qr__directo{
        display: none;
        
    }

    .pfooter {
        margin: 0 auto;
        margin-top: 20px;
    }

    .padding{
        overflow: hidden;
        width: 40px;
        height: 40px;
    }
    
    .carousel-item{
        width: 100%;
    }

    .row {
        flex-direction: column;}

}