*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100%;
    background-image: url(../imagenes/img-fondohumo.jpg) !important;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
} 

img{
    overflow: hidden;
}



h2{
    width: 60%;
    color: $color-titulos;
    font-family: $fuente-gral;
    font-size: 35px;
    text-align: center;
    font-style: $fuente-gral;
    text-decoration: underline;
    padding: 10px 60px 10px 60px;
    margin: 0 auto;
    margin-bottom: 70px;
    border-radius: 5px;
    }


h3{
    color: $color-titulos;
    font-size: 30px;
    font-family: $fuente-gral;
    text-align: center;
    margin: 0 20px 0px 20px;
    padding: 10px 10px 10px 10px;
    background-image: $color-titulos;
}

h4{
    display: inline-block;
    color:$color-titulos;
    font-size: 30px;
    text-align: center;
    font-style: italic;
    margin: 0 200px 0px 200px;
    padding: 10px 10px 10px 10px;
    border-radius: 5px;
}

p{
    font-family: $fuente-gral;
    text-align: center;
    font-size: 20px;
    font-style: $fuente-gral;
    color: $color-titulos;
    margin: 20px 20px 20px 20px;
}



ul>li, ul>ol{
    list-style-type: none;
    text-align: center;
}